body{
    background:#f4ecd8;
    font-family:"Handlee", cursive;
    padding:30px;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom:30px;
    font-family:"Patrick Hand", cursive;
}

.diary{
    max-width:800px;
    margin:auto;
}

.entry{
    background:#fffdf5;
    padding:25px;
    margin-bottom:40px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    position:relative;
}

.entry h2{
    margin-bottom:10px;
}

.entry p{
    font-size:18px;
    line-height:1.6;
    margin-bottom:20px;
}

/* Ảnh dán */
.photos{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.photos img{
    width:220px;
    transform:rotate(-3deg);
    border:8px solid white;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    transition:0.3s;
}

.photos img:nth-child(2){
    transform:rotate(4deg);
}

.photos img:hover{
    transform:scale(1.05);
}

/* Băng keo giả */
.photos img::before{
    content:"";
}

/* Nút quay về */
.back{
    display:block;
    width:200px;
    margin:40px auto;
    text-align:center;
    padding:10px;
    background:#ffb347;
    color:white;
    text-decoration:none;
    border-radius:6px;
}
/* ===== LIGHTBOX ===== */
#lightbox{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.8);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}

#lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
    box-shadow:0 0 20px black;
}

.close{
    position:absolute;
    top:30px;
    right:40px;
    font-size:30px;
    color:white;
    cursor:pointer;
}
/* Video nhỏ giống ảnh dán */
.photos video{
    width:220px;
    transform:rotate(2deg);
    border:8px solid white;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
    cursor:pointer;
}

/* Video to */
#videobox{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.85);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

#videobox video{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}